body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #222;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

header img {
    width: 3.5rem;
    height: auto;
    float: left;
}

#home img {
    width: 100%;
    max-width: 60rem;
    height: auto;
    display: block;
    margin: 1rem auto;
    border-radius:0.5rem;
}

#products p {
    padding: 1rem;
}
.product-banner {
    width: 100%;
    max-width: 70rem;
    height: auto;
    display: block;
    margin: 0rem auto 2rem;
    border-radius:0.5rem;
}
.product-des {
    font-size: 1rem;
    color: black;
    margin-bottom: 0.8rem;
}


#home h1 {
    text-align: center;
    font-size: 4rem;
}
h2 {
    text-align: center;
}

#contact h2 {
    text-align: left;
    font-size: 2rem;
}

li {
    display: inline;
}

nav {
    margin-top: 0.5rem;

}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 3rem;
    background-color: white;
    margin: 2rem;
    border-radius: 0.8rem;
}

.product-container {
    display: flex;
    gap: 2rem;
}

.product {
    background-color: #ecf0f1;
    padding: 1.5rem;
    border-radius: 0.8rem;
    flex: 1;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

#products h2 {
    text-align: center;
    font-size: 2rem;
}

#contact a {
    color: black;
}

#contact a:hover{
    color: #2980b9;
}

.contact {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.contact-text {
    flex:1;
}

.map {
    flex: 1;
    text-align: right;
}

.map img {
    width: 100%;
    max-width:35rem;
    height: auto;
    border-radius: 0.5rem;
}